<mat-form-field>
  <mat-select  placeholder="Type of bank deposit"  [(ngModel)]="bankDeposits.depositType" (ngModelChange)="resetAllFields()" >
    <mat-option *ngFor="let deposit of deposits" [value]="deposit.value">
      {{ deposit.viewValue }}
    </mat-option>
  </mat-select>
</mat-form-field>
<br/>

<mat-form-field name="amount" ngDefaultControl *ngIf="bankDeposits.depositType" class="example-full-width" >
    <input matInput placeholder="Deposit amount" type="number" (change)="calculateMaturityAmount()" [(ngModel)]="bankDeposits.depositAmount" >
</mat-form-field>
<br/>

<mat-form-field class="example-full-width" *ngIf="bankDeposits.depositType" ngDefaultControl  >
    <input matInput placeholder="Rate of Interest" type="number" (change)="calculateMaturityAmount()" [(ngModel)]="bankDeposits.rateOfInterest">
</mat-form-field>
<br/>

<mat-form-field class="example-full-width" *ngIf="bankDeposits.depositType" ngDefaultControl  >
  <input matInput placeholder="Tenure (In months)" type="number" (change)="calculateMaturityAmount()" [(ngModel)]="bankDeposits.tenure">
</mat-form-field>
<br/>

<mat-form-field class="example-full-width" *ngIf="showMaturityAmount" ngDefaultControl>
  <input matInput type="text" value="Your maturity value is {{bankDeposits.maturityAmount}}">
</mat-form-field>
<br/>

<button *ngIf="bankDeposits.depositType"  (click)="save()">save</button>




